.body {
    display: flex;
    flex-direction: column;

    margin: auto;

    padding: 2rem;
    max-width: 80rem;

    background-color: #FFFFFF;
}

.bodyhome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: auto;

    padding: 2rem;
    max-width: 80rem;

    background-color: #FFFFFF;
}