.body {
    display: flex;
    flex-direction: column;

    margin: auto;

    padding: 2rem;
    max-width: 80rem;

    background-color: #FFFFFF;
}

.home {
    justify-content: space-between;
}

/* for 404 not found */

.__404 {
    align-items: center;
    justify-content: center;
}