.content {
    display: flex;
    flex-direction: column;

    padding: 2rem 0rem 2rem 0rem;
    
    gap: 1rem;
}

.hometext {
    text-align: center;
}

.introduction {
    display: flex;
    flex-direction: column;

    gap: 0.2rem;
}

.containercards {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

.containercards__rowcolumn {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

/* For article */

.article {
    display: flex;
    flex-direction: column;

    padding: 2rem 0rem 2rem 0rem;
}

.article__introduction {
    display: flex;
    flex-direction: column;

    gap: 0.2rem;

    padding: 1rem 0rem 1rem 0rem;
}

.list {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;

    padding: 1rem 0rem 1rem 1rem;
}

.codetext {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0.2rem;
    padding: 0.1rem 0.3rem;

    color: #000000;
    font-weight: 400;
}

.codecontent {
    margin-top: 0.5rem;
    margin-block-end: 0.5rem;
    padding: 0.8rem 0.8rem;
}

.link {
    text-decoration: underline;

    text-decoration-color: transparent;
    color: #00BCD3;

    transition: all .3s;
}

.link:hover {
    text-decoration-color: #00BCD3;
}

.article__text {
    display: flex;
    flex-direction: column;

    gap: 0.2rem;

    padding: 0.5rem 0rem 0.5rem 0rem;
}

.article__end {
    text-align: end;
}

.article__multimedia {
    margin: 1rem 0rem 1rem 0rem;
}