.header {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 2rem 2rem 0rem 2rem;
}

.header__decoration {
    text-decoration: none;

    margin-left: 0.5rem;

    color: #201A19
}

.header__decoration:hover {
    text-decoration: underline;

    color: #C00000;
}

.header__links {
    font-family: Quicksand;
    font-weight: 500;
}

.header__avatar {
    width: 3rem;
    height: 3rem;
}