.header {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
}

.avatar {
    height: 3rem;
}

.adecoration {
    text-decoration: underline;
    margin-left: 0.5rem;

    text-decoration-color: transparent;
    color: #000000;

    transition: all .3s;
}

.adecoration:hover {
    text-decoration-color: #00BCD3;
    color: #00BCD3;
}

.inpage {
    text-decoration-color: #00BCD3;
    color: #00BCD3;
}