.space {
    flex-grow: 1;
}

.textdecoration {
    text-decoration: none;
}

.bodyspace {
    justify-content: space-between;
    padding-block-end: 2rem;
}

.avatar {
    width: 3rem;
    height: 3rem;
}