.body {
    display: flex;
    flex-direction: column;

    margin: 2rem;
}

.body__presentation {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;

    margin-block-end: 1rem;
}

.body__rowcolumn {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

.body__alone {
    margin-block-end: 2rem;
}

.body__cards {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

.body__textlinks {
    font-family: Quicksand;
    font-weight: 400;
    text-align: start;

    color: #000000;
}

.body__textlinks:hover {
    text-decoration: underline;

    color: #00BCD3;
}

.body__title {
    font-family: Quicksand;
    font-weight: 600;
    text-align: start;

    color: #000000;
}

.body__text {
    font-family: Quicksand;
    font-weight: 400;
    text-align: start;

    color: #000000;
}

.bodyhome {
    display: flex;
    flex-direction: column;

    gap: 1rem;

    margin-inline: 2rem;
}

.bodyhome__title {
    font-family: Quicksand;
    font-weight: 700;
    text-align: center;

    color: #000000;
}

.bodyhome__text {
    font-family: Quicksand;
    font-weight: 400;
    text-align: center;

    color: #000000;
}