@media (min-width: 640px) {
    .content {
        flex-direction: row;

        padding-top: 4rem;
    }

    .introduction {
        width: 40%;
    }

    .containercards {
        align-items: center;
        max-width: 60%;
    }

    .containercards__rowcolumn {
        flex-direction: row;
        align-items: start;

        max-width: 95%;
    }

    .containercards__alone {
        max-width: 50%;
    }
}