* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color: #FCFCFC;
}

header {
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
}

header .image {
    width: 3rem;
    height: 3rem;
}

header .container {
    align-items: center;
    display: flex;
    flex-direction: row;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: 1rem;
    gap: 0.5rem;
}

header a{
    text-decoration: none;
    font-weight: 600;
    color: #000000;
}

header a:hover {
    color: #E6BE63;
}

footer {
    gap: 0.5rem;

    margin: 0rem 0rem 2rem 0rem;

    display: flex;
}

.principalText {
    display: flex;
    flex-direction: column;

    align-items: center;

    margin: auto;
    gap: 1rem;

    width: fit-content;
    height: fit-content;
}

.image{
    width: 1.5rem;
    height: 1.5rem;
}

/*@media (prefers-color-scheme: dark) {
    body {
        filter: invert();
        background: #121212;
    }
}*/
