h1 {
    font-family: Quicksand;
    font-weight: 400;
    color: #000000;
}

h2 {
    font-family: Quicksand;
    font-weight: 400;
    color: #000000;
}

h3 {
    font-family: Quicksand;
    font-weight: 400;
    color: #000000;
}

h4 {
    font-family: Quicksand;
    font-weight: 400;
    color: #000000;
}

h5 {
    font-family: Quicksand;
    font-weight: 400;
    color: #000000;
}

h6 {
    font-family: Quicksand;
    font-weight: 400;
    color: #000000;
}

a {
    font-family: Quicksand;
    font-weight: 500;
}

p {
    font-family: Quicksand;
    font-weight: 400;
    color: #000000;
}

ul {
    font-family: Quicksand;
    font-weight: 400;
    color: #000000;
}

ol {
    font-family: Quicksand;
    font-weight: 400;
    color: #000000;
}