/* for text style default */
h1, h2, h3, h4, h5, h6, p, pre, ul, ol {
    font-family: Quicksand;
    font-weight: 400;
    color: #000000;
}

a {
    font-family: Quicksand;
    font-weight: 500;
}

code {
    font-family: Source Code Pro, monospace;
    font-size: 0.9rem;
}

/* for home */
.content__align {
    text-align: center;
}

.content__hidelink {
    font-family: Quicksand;
    font-weight: 400;
    color: #000000;
}

/* for 404 not found */
.title__404 {
    font-size: 10rem;
}

.text__404 {
    font-size: 2rem;
}

/* for maintenance */
.title__maintenance {
    font-size: 1.5rem;
}

.text__maintenance {
    font-size: 1rem;
}