header .text {
    font-family: Quicksand;
    font-weight: 500;
    color: #000000;

}

header .textLogo {
    font-family: Quicksand;
    font-weight: 600;
    color: #000000;
    margin-inline: 1rem;
}



.title {
    font-family: Quicksand;
    font-weight: 700;
    color: #000000;
    text-align: center;
}

.text {
    font-family: Quicksand;
    font-weight: 400;
    color: #000000;
    text-align: center;
}