@media (prefers-color-scheme: dark) {

    /* Body theme */

    body {
        background: #201A19;
    }

    /* Header theme */

    .header__decoration {
        color: #FBEEEB;
    }

    .header__decoration:hover {
        color: #FFDAD2;
    }

    .header__avatar {
        filter: invert();
    }
    
    /* Main theme */

    .body__title {
        color: #FBEEEB;
    }

    .body__text {
        color: #FBEEEB;
    }

    .bodyhome__title {
        color: #FBEEEB;
    }

    .bodyhome__text {
        color: #FBEEEB;
    }

    /* Footer theme */

    .footer__socialimage {
        filter: invert();
    }

    /* Helpers theme */

    .textmarked {
        color: #FFDAD2;
    }

    /* Card theme */

    .card {
        border: 2px solid #4D4543;
    }

    .card:hover {
        border: 2px solid #CDCCC5;
    }

    .card__title {
        color: #FBEEEB;
    }

    .card__text {
        color: #FBEEEB;
    }

    .card__details {
        color: #FBEEEB;
    }
}