@media (prefers-color-scheme: dark) {
    body {
        background: #201A19;
    }

    .footerSocialImage{
        filter: invert();
    }

    .headerTextLogo {
        color: #FBEEEB;
    }

    header a{
        color: #FBEEEB;
    }

    header a:hover{
        color: #FFDAD2;
    }

    .bodyMain__Title {
        color: #FBEEEB;
    }

    .bodyMain__Text {
        color: #FBEEEB;
    }

    .bodyMainWIP {
        filter: invert();
    }

    .marked {
        color: #FFDAD2;
    }

    .postBlog__title {
        color: #FBEEEB;
    }

    .postBlog__text {
        color: #FBEEEB;
    }

    .bodyMainBlogs__title {
        color: #FBEEEB;
    }

    .bodyMainBlogs__text {
        color: #FBEEEB;
    }

    .postBlog {
        border: 2px solid #4D4543;
    }

    .postBlog:hover {
        border: 2px solid #CDCCC5;
    }
}
