.paragraph {
	hyphens: none;

	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5rem;
	letter-spacing: 0.01563rem;

	margin: 1rem 0rem;

	color: var(--color-on-background);
	transition: color var(--transition-default);
}

.image-container {
	gap: 0.5rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.image-container > img {
	width: auto;
	height: auto;
}
