.h1 {
	hyphens: none;

	font-size: 2rem;
	font-style: normal;
	font-weight: 700;
	line-height: 1.75rem;

	margin-bottom: 1rem;
	padding-bottom: 0.8rem;

	color: var(--color-on-background);
	border-bottom: 1px solid var(--color-outline-variant);
	transition: color var(--transition), border var(--transition);
}

.h2 {
	hyphens: none;

	font-size: 1.6rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.75rem;

	margin: 2rem 0rem 0.6rem 0rem;

	color: var(--color-on-background);
	transition: color var(--transition);
}
