/* google-sans-regular */
@font-face {
	font-family: Google Sans;
	font-style: normal;
	font-weight: 400;
	src: local("Google Sans Regular"), local("GoogleSans-Regular"), url(google-sans-regular.woff2) format("woff2");
}

/* google-sans-bold */
@font-face {
	font-family: Google Sans;
	font-style: normal;
	font-weight: 700;
	src: local("Google Sans Bold"), local("GoogleSans-Bold"), url(google-sans-bold.woff2) format("woff2");
}