/* source-code-pro-extralight */
@font-face {
	font-family: Source Code Pro;
	font-style: normal;
	font-weight: 200;
	src: local("Source Code Pro ExtraLight"), local("SourceCodePro-ExtraLight"), url(source-code-pro-extralight.woff2) format("woff2"), url(source-code-pro-extralight.woff) format("woff");
	font-display: swap;
}
/* source-code-pro-light */
@font-face {
	font-family: Source Code Pro;
	font-style: normal;
	font-weight: 300;
	src: local("Source Code Pro Light"), local("SourceCodePro-Light"), url(source-code-pro-light.woff2) format("woff2"), url(source-code-pro-light.woff) format("woff");
	font-display: swap;
}
/* source-code-pro-regular */
@font-face {
	font-family: Source Code Pro;
	font-style: normal;
	font-weight: 400;
	src: local("Source Code Pro Regular"), local("SourceCodePro-Regular"), url(source-code-pro-regular.woff2) format("woff2"), url(source-code-pro-regular.woff) format("woff");
	font-display: swap;
}
/* source-code-pro-medium */
@font-face {
	font-family: Source Code Pro;
	font-style: normal;
	font-weight: 500;
	src: local("Source Code Pro Medium"), local("SourceCodePro-Medium"), url(source-code-pro-medium.woff2) format("woff2"), url(source-code-pro-medium.woff) format("woff");
	font-display: swap;
}
/* source-code-pro-semibold */
@font-face {
	font-family: Source Code Pro;
	font-style: normal;
	font-weight: 600;
	src: local("Source Code Pro SemiBold"), local("SourceCodePro-SemiBold"), url(source-code-pro-semibold.woff2) format("woff2"), url(source-code-pro-semibold.woff) format("woff");
	font-display: swap;
}
/* source-code-pro-bold */
@font-face {
	font-family: Source Code Pro;
	font-style: normal;
	font-weight: 700;
	src: local("Source Code Pro Bold"), local("SourceCodePro-Bold"), url(source-code-pro-bold.woff2) format("woff2"), url(source-code-pro-bold.woff) format("woff");
	font-display: swap;
}
/* source-code-pro-extrabold */
@font-face {
	font-family: Source Code Pro;
	font-style: normal;
	font-weight: 800;
	src: local("Source Code Pro ExtraBold"), local("SourceCodePro-ExtraBold"), url(source-code-pro-extrabold.woff2) format("woff2"), url(source-code-pro-extrabold.woff) format("woff");
	font-display: swap;
}
/* source-code-pro-black */
@font-face {
	font-family: Source Code Pro;
	font-style: normal;
	font-weight: 900;
	src: local("Source Code Pro Black"), local("SourceCodePro-Black"), url(source-code-pro-black.woff2) format("woff2"), url(source-code-pro-black.woff) format("woff");
	font-display: swap;
}
/* source-code-pro-extralight-italic */
@font-face {
	font-family: Source Code Pro;
	font-style: italic;
	font-weight: 200;
	src: local("Source Code Pro ExtraLight Italic"), local("SourceCodePro-ExtraLightItalic"), url(source-code-pro-extralight-italic.woff2) format("woff2"), url(source-code-pro-extralight-italic.woff) format("woff");
	font-display: swap;
}
/* source-code-pro-light-italic */
@font-face {
	font-family: Source Code Pro;
	font-style: italic;
	font-weight: 300;
	src: local("Source Code Pro Light Italic"), local("SourceCodePro-LightItalic"), url(source-code-pro-light-italic.woff2) format("woff2"), url(source-code-pro-light-italic.woff) format("woff");
	font-display: swap;
}
/* source-code-pro-italic */
@font-face {
	font-family: Source Code Pro;
	font-style: italic;
	font-weight: 400;
	src: local("Source Code Pro Italic"), local("SourceCodePro-Italic"), url(source-code-pro-italic.woff2) format("woff2"), url(source-code-pro-italic.woff) format("woff");
	font-display: swap;
}
/* source-code-pro-medium-italic */
@font-face {
	font-family: Source Code Pro;
	font-style: italic;
	font-weight: 500;
	src: local("Source Code Pro Medium Italic"), local("SourceCodePro-MediumItalic"), url(source-code-pro-medium-italic.woff2) format("woff2"), url(source-code-pro-medium-italic.woff) format("woff");
	font-display: swap;
}
/* source-code-pro-semibold-italic */
@font-face {
	font-family: Source Code Pro;
	font-style: italic;
	font-weight: 600;
	src: local("Source Code Pro SemiBold Italic"), local("SourceCodePro-SemiBoldItalic"), url(source-code-pro-semibold-italic.woff2) format("woff2"), url(source-code-pro-semibold-italic.woff) format("woff");
	font-display: swap;
}
/* source-code-pro-bold-italic */
@font-face {
	font-family: Source Code Pro;
	font-style: italic;
	font-weight: 700;
	src: local("Source Code Pro Bold Italic"), local("SourceCodePro-BoldItalic"), url(source-code-pro-bold-italic.woff2) format("woff2"), url(source-code-pro-bold-italic.woff) format("woff");
	font-display: swap;
}
/* source-code-pro-extrabold-italic */
@font-face {
	font-family: Source Code Pro;
	font-style: italic;
	font-weight: 800;
	src: local("Source Code Pro ExtraBold Italic"), local("SourceCodePro-ExtraBoldItalic"), url(source-code-pro-extrabold-italic.woff2) format("woff2"), url(source-code-pro-extrabold-italic.woff) format("woff");
	font-display: swap;
}
/* source-code-pro-black-italic */
@font-face {
	font-family: Source Code Pro;
	font-style: italic;
	font-weight: 900;
	src: local("Source Code Pro Black Italic"), local("SourceCodePro-BlackItalic"), url(source-code-pro-black-italic.woff2) format("woff2"), url(source-code-pro-black-italic.woff) format("woff");
	font-display: swap;
}

