@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.home {
	margin: auto;
	max-width: 80rem;

	animation: fade-in var(--transition-default);
}

.home > .presentation {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	user-select: none;

	height: calc(100dvh - 8rem);

	padding: 2rem;
}

.home > .presentation > .name {
	font-weight: 700;
	font-size: 1.2rem;
	letter-spacing: 0.4rem;
	line-height: 0.2rem;
	white-space: nowrap;
	text-transform: uppercase;

	color: var(--color-on-surface-variant);
	transition: color var(--transition-default);
}

.home > .presentation > .full-stack {
	font-family: Heavitas;
	font-size: 4.2rem;
	white-space: nowrap;
	line-height: 1.2em;
	text-align: center;

	transition: color var(--transition-default);
}

.home > .presentation > .developer {
	font-family: Heavitas;
	font-size: 4.5rem;
	line-height: 0.6em;
	text-align: center;

	color: var(--color-tertiary);
	transition: color var(--transition-default);
}

.home > .projects {
	margin-top: 4rem;
	margin-bottom: 2rem;

	min-height: 100dvh;

	gap: 1rem;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.home > .projects > .title-section {
	gap: 1rem;
	display: flex;

	width: 100%;
	align-items: center;

	padding-inline: 1rem;
}

.home > .projects > .title-section > .line {
	width: 100%;
	height: 2px;

	background-color: var(--color-outline);
}

.home > .projects > .title-section > .title {
	font-size: 1.1rem;
	letter-spacing: 0.4rem;

	font-weight: 600;

	white-space: nowrap;

	margin-left: 0.5rem;

	color: var(--color-on-surface-variant);
	text-transform: uppercase;

	text-align: center;
}

.home > .projects > .grid {
	display: flex;
	flex-direction: column;
}

.home > .projects > .grid > .line {
	width: calc(100% - 2rem);
	height: 1px;

	margin: auto;
	margin-inline: 1rem;

	background-color: var(--color-outline-variant);
}

.home > .projects > .button {
	position: relative;

	width: calc(100% - 2rem);
	font-size: 1rem;
	font-weight: 500;
	text-align: center;

	padding: 1rem 1.5rem;
	border-radius: 0.5rem;

	outline: none;

	color: var(--color-on-primary);
	background-color: var(--color-primary);
	transition: color var(--transition-default), background-color var(--transition-default);
}

.home > .projects > .button > .background {
	top: 0;
	left: 0;
	position: absolute;

	width: 100%;
	height: 100%;

	outline: none;

	transition: background-color var(--transition-default);
	background-color: rgba(var(--color-object-hover-invert-rgb), 0);
}

.home > .projects > .button:active > .background {
	background-color: rgba(var(--color-object-hover-invert-rgb), 0.2);
}

.footer {
	margin-top: 5rem;
	padding: 3rem 1rem;

	background-color: var(--color-surface-variant);
	transition: background-color var(--transition-default);
}

.footer > nav {
	gap: 0.5rem;
	display: flex;
	justify-content: center;
}

.footer > nav > a {
	outline: none;
}

.footer > nav > a > svg {
	width: 2rem;
	height: 2rem;

	fill: var(--color-on-surface-variant);
	transition: fill var(--transition-default);
}

.footer > nav > a:active > svg {
	fill: var(--color-primary);
}

.footer > .text {
	margin: auto;
	hyphens: none;
	margin-top: 1rem;
	font-size: 0.9rem;
	text-align: center;
	line-height: 1.5em;
	font-weight: 500;

	max-width: 40rem;

	color: rgba(var(--color-on-surface-variant-rgb), 0.8);
}

.footer > .text > .link {
	font-weight: 700;
	white-space: nowrap;
	transition: color var(--transition-default);
	color: rgba(var(--color-on-surface-variant-rgb), 0.8);
}

.footer > .text > .link:active {
	color: var(--color-primary);
}

@media (min-width: 42.375rem) {
	.home > .projects > .grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
	}

	.home > .projects > .grid > .line {
		display: none;
	}
}

@media (min-width: 80rem) {
	.home > .projects {
		gap: 2rem;
	}

	.home > .projects > .title-section {
		padding-inline: 0rem;
	}

	.home > .projects > .button {
		width: auto;
	}

	.home > .projects > .grid {
		gap: 1rem;
		display: flex;
		flex-direction: column;
	}

	.footer > nav > a:hover > svg {
		fill: var(--color-primary);
	}

	.footer > nav > a:focus-visible > svg {
		fill: var(--color-primary);
	}

	.home > .projects > .button:hover > .background {
		background-color: rgba(var(--color-object-hover-invert-rgb), 0.2);
	}

	.home > .projects > .button:focus-visible > .background {
		background-color: rgba(var(--color-object-hover-invert-rgb), 0.2);
	}

	.footer > .text > .link:hover {
		color: var(--color-primary);
	}

	.footer > .text > .link:focus-visible {
		color: var(--color-primary);
	}
}

@media (max-width: 34.375rem) {
	.home > .presentation > .name {
		font-size: 1rem;

		line-height: 1rem;
	}

	.home > .presentation > .full-stack {
		font-size: 3.1rem;
	}

	.home > .presentation > .developer {
		font-size: 3.4rem;
	}
}

@media (max-width: 24.375rem) {
	.home > .presentation > .name {
		font-size: 0.8rem;

		line-height: 0.8rem;
	}

	.home > .presentation > .full-stack {
		font-size: 2.7rem;
	}

	.home > .presentation > .developer {
		font-size: 2.9rem;
	}
}

@media (max-width: 21.25rem) {
	.home > .presentation > .name {
		font-size: 0.8rem;

		line-height: 0.6rem;
	}

	.home > .presentation > .full-stack {
		font-size: 2rem;
	}

	.home > .presentation > .developer {
		font-size: 2.2rem;
	}

	.home > .presentation > .social {
		margin-top: 0.5rem;
	}

	.home > .presentation > .social > a > svg {
		width: 1.8rem;
		height: 1.8rem;
	}
}
