@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.posts {
	display: flex;
	flex-direction: column;

	padding-bottom: 1rem;
	animation: fade-in var(--transition-default);
}

.posts > .line {
	width: calc(100% - 2rem);
	height: 1px;

	margin: auto;
	margin-inline: 1rem;

	background-color: var(--color-outline-variant);
}

@media (min-width: 42.375rem) {
	.posts {
		display: grid;
		grid-template-columns: var(--grid-template-columns-1);
		grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
	}

	.posts > .line {
		display: none;
	}
}

@media (min-width: 63.375rem) {
	.posts {
		grid-template-columns: var(--grid-template-columns-2);
	}
}
