.anchor {
	font-family: Inter;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.25rem;
	letter-spacing: 0.01563rem;

	text-decoration: underline;
	text-decoration-color: transparent;

	color: var(--color-primary);
	transition: color var(--transition-default), text-decoration-color var(--transition-default);
}

.anchor:active {
	text-decoration-color: var(--color-primary);
}

@media (min-width: 80rem) {
	.anchor:hover {
		text-decoration-color: var(--color-primary);
	}

	.anchor:focus-visible {
		text-decoration-color: var(--color-primary);
	}
}
