.li {
	margin: 1rem 0rem;

	color: var(--color-on-background);
	transition: color var(--transition-default);
}

.li > blockquote {
	margin: 0.2rem 0rem;
}

.li > p {
	margin: 0.2rem 0rem;
}

.li > pre {
	margin: 0.4rem 0rem;
}

.li > pre > code {
	margin: 0.2rem 0rem;
}
