@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.header {
	top: 0;
	left: 0;
	z-index: 99;
	display: block;
	position: relative;

	width: 100%;

	animation: fade-in var(--transition-default);
}

.header > section {
	position: relative;

	gap: 1rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	height: 100%;
	max-width: 80rem;

	margin: auto;
	padding: 0rem 1rem;
}

.header > section > nav {
	display: flex;
	position: relative;
}
