/* Google Sans Normal */
@font-face {
    font-family: Google Sans;
    font-style: normal;
    font-weight: 400;
    src: url("GoogleSans-Regular.ttf"), format("ttf");
}

/* Google Sans Medium */
@font-face {
    font-family: Google Sans;
    font-style: normal;
    font-weight: 500;
    src: url("GoogleSans-Medium.ttf"), format("ttf");
}

/* Google Sans Bold */
@font-face {
    font-family: Google Sans;
    font-style: normal;
    font-weight: 700;
    src: url("GoogleSans-Bold.ttf"), format("ttf");
}

