.ol > li {
	margin-bottom: 0.2rem;
}

.ol > li > code {
	margin: 0.4rem 0rem;
}

.ol > li > img {
	margin: 1rem 0rem 0rem 0rem;
}

.ol > li > video {
	margin: 1rem 0rem 0rem 0rem;
}

.ol > li > blockquote {
	margin-bottom: 1rem;
}

@media (min-width: 80rem) {
	.ol {
		padding-inline-start: 1.5rem;
	}
}
