.body {
    display: flex;
    flex-direction: column;

    margin: auto;

    max-width: 80rem;

    background-color: #FFFFFF;

    transition: background-color 0.3s;
}

@media (prefers-color-scheme: dark) {

    .body {
        background-color: #191919;
    }

}