.header {
    display: flex;
    justify-content: center;

    position: relative;

    max-width: 80rem;
}

.logo {
    padding-top: 0.6rem;
    font-size: 2.5rem;
    font-family: SlimFit;
    font-weight: 400;

    transition: all 0.3s;
}

.header button {
    position: absolute;
    top: 0.5rem;
    left: 0.8rem;
    padding: 1.5rem;
    opacity: 0;

    z-index: 1;

    cursor: pointer;
}

.hamburgerButton {
    background: #000000;

    margin: 2rem 1.5rem;

    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 4px;
    
    transition: all 0.3s;
}

.hamburgerButton:before,
.hamburgerButton:after{
    content: "";

    background-color: #000000;

    border-radius: 10px;
    position: absolute;
    height: 4px;
    right: 5;
    
    transition: all .3s;
}

.hamburgerButton:before{
    top: -10px;
    width: 30px;
}

.hamburgerButton:after{
    top: 10px;
    width: 30px;
}

.backgroundMenu {
    position: fixed;
    top: 4rem;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.25;

    z-index: 3;

    display: none;
}

.menu {
    position: fixed;
    background: #FFFFFF;
    padding: 1rem 1rem 0rem 1rem;
    width: 15rem;
    height: 100%;
    top: 4rem;
    left: -15rem;

    z-index: 3;

    transition: all 0.3s;
}

.menu div {
    padding-bottom: 1rem;
}

.menu div h3 {
    padding: 0.2rem 0.5rem;
    background-color: #C42A00;
    border-radius: 8px;

    font-family: ColateraSoft;
    font-weight: 400;
    color: #FFFFFF;
}

.menu div ul {
    padding-top: 0.5rem;
    padding-left: 1rem;
}

.menu div ul li {
    list-style: none;
}

.menu div ul li a {
    font-family: ColateraSoft;
    font-weight: 400;

    text-decoration: underline;
    text-decoration-color: transparent;

    color: #000000;

    transition: all 0.3s;
}

.menu div ul li a:hover {
    color: #C42A00;
    text-decoration-color: #C42A00;
}

@media (prefers-color-scheme: dark) {

    .menu {
        background: #191919;
    }

    .logo {
        color: #FFFFFF;
    }

    .hamburgerButton {
        background: #FFFFFF;
    }

    .hamburgerButton:after, .hamburgerButton:before {
        background-color: #FFFFFF;
    }

    .menu div ul li a {
        color: #FFFFFF;
    }

    .menu div ul li a:hover {
        color: #FF9148;
        text-decoration-color: #FF9148;
    }

    .menu div h3 {
        background-color: #FF9148;
        color: #2C2C2C;
    }

}