.header {
	display: none;
}

@media (min-width: 1280px) {
	.header {
		position: relative;
		z-index: 2;
		display: flex;
		padding: 2rem;
		max-width: 80rem;
		align-items: center;
		justify-content: space-between;
	}
	
	.header > .avatar {
		display: inline;
		width: 3rem;
		height: 3rem;
		cursor: pointer;
		transition: all 0.3s;
		filter: invert(8%) sepia(5%) saturate(1661%) hue-rotate(191deg) brightness(95%) contrast(91%);
	}
	
	.header > .navigation {
		display: flex;
		gap: 0.8rem;
	}
	
	.header > .navigation > .link {
		font-family: Inter;
		font-weight: 500;
		text-decoration: underline;
		text-decoration-color: transparent;
		color: #1b1c20;
		transition: all 0.3s;
	}
	
	.header > .navigation > .link:hover,
	.header > .navigation > .linkSelected {
		text-decoration-color: #2b50aa;
		color: #2b50aa;
	}
	
	@media (prefers-color-scheme: dark) {
		.header > .avatar {
			filter: invert(99%) sepia(3%) saturate(494%) hue-rotate(34deg) brightness(114%) contrast(80%);
		}
	
		.header > .navigation > .link {
			color: #f5f5f5;
		}
	
		.header > .navigation > .link:hover,
		.header > .navigation > .linkSelected {
			text-decoration-color: #bcceff;
			color: #bcceff;
		}
	}
}
