@import url(https://rsms.me/inter/inter.css);
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

@font-face {
	font-family: 'Heavitas';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/fonts/heavitas.woff2') format('woff2');
}

:root {
	font-family: 'Inter', sans-serif;

	--layout-elevation-level-0: 0px 0px 0px 0px var(--color-elevation-level-0),
		0px 0px 0px 0px var(--color-elevation-level-0);
	--layout-elevation-level-1: 0px 1px 3px 1px rgba(var(--color-shadow-rgb), 0.15),
		0px 1px 2px 0px rgba(var(--color-shadow-rgb), 0.3);
	--layout-elevation-level-2: 0px 2px 6px 2px rgba(var(--color-shadow-rgb), 0.15),
		0px 1px 2px 0px rgba(var(--color-shadow-rgb), 0.3);
	--layout-elevation-level-3: 0px 1px 3px 0px rgba(var(--color-shadow-rgb), 0.3),
		0px 4px 8px 3px rgba(var(--color-shadow-rgb), 0.15);
	--layout-elevation-level-4: 0px 2px 3px 0px rgba(var(--color-shadow-rgb), 0.3),
		0px 6px 10px 4px rgba(var(--color-shadow-rgb), 0.15);
	--layout-elevation-level-5: 0px 4px 4px 0px rgba(var(--color-shadow-rgb), 0.3),
		0px 8px 12px 6px rgba(var(--color-shadow-rgb), 0.15);

	--elevation-level-1: 0px 3px 7px rgba(var(--color-shadow-rgb), 0.1);

	--transition-default: 200ms ease forwards;
}

@supports (font-variation-settings: normal) {
	:root {
		font-family: 'Inter var', sans-serif;
	}
}

code {
	font-family: 'Fira Code', monospace;
}

@supports (font-variation-settings: normal) {
	code {
		font-family: 'Fira Code VF', monospace;
	}
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;

	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: var(--color-on-surface-disabled);
}

::selection {
	color: var(--color-on-primary);
	background-color: var(--color-primary);
}

body {
	margin: auto;
	position: relative;

	display: flex;
	flex-direction: column;

	font-family: Inter;

	overflow-y: scroll;
	scrollbar-gutter: stable both-edges;

	color: var(--color-on-background);
	background-color: var(--color-background);
	transition: background-color var(--transition-default);
}

p {
	font-size: 1.375rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.75rem;

	transition: color var(--transition-default);
	animation: fade-in var(--transition-default);
}
