body {
	position: relative;

	display: flex;
	flex-direction: column;

	margin: auto;
	max-width: 80rem;

	font-family: Inter;

	transition: background-color var(--transition);
	background-color: var(--md-color-background);
}

@media (min-width: 80rem) {
	body {
		max-width: 100%;
	}
}
