.card {
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	width: 100%;
	height: auto;
	border: 1px solid #cdccc5;
	overflow: hidden;
	transition: border 0.3s;
}

.card > .container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	max-width: 100%;
	height: 100%;
}

.card > .container > .banner {
	width: 100%;
	height: auto;
	object-fit: cover;
	object-position: center;
}

.card > .container > .data {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1rem;
}

.card > .container > .data > .titlePage {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
}

.card > .container > .data > .titlePage > h3 {
	font-family: Inter;
	font-weight: 700;
	color: #1b1c20;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.card > .container > .data > .titlePage > p {
	font-family: Inter;
	font-weight: 500;
	color: #1b1c20;
	white-space: nowrap;
	border-radius: 4px;
	background-color: #eeeeee;
	padding: 0.2rem 0.4rem;
}

.card > .container > .data > p {
	font-family: Inter;
	font-weight: 400;
	color: #1b1c20;
	font-size: 0.9rem;
}

@media (prefers-color-scheme: dark) {
	.card {
		border: 1px solid #535353;
		background-color: #272727;
	}

	.card > .container > .data > .titlePage > h3 {
		color: #f5f5f5;
	}

	.card > .container > .data > p,
	.card > .container > .data > .titlePage > p {
		color: #c4c5d0;
	}

	.card > .container > .data > .titlePage > p {
		background-color: #363636;
	}
}
