@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.tags {
	gap: 0.5rem;
	display: flex;
	padding: 0.5rem 1rem 1rem 1rem;

	overflow-x: auto;
	overflow-y: hidden;

	width: 100%;
	margin: auto;
	margin-top: 0.5rem;

	animation: fade-in var(--transition-default);
	transition: border-bottom var(--transition-default);
	border-bottom: 2px solid var(--color-outline-variant);
}
