*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: #000000;
    align-items: center;
    justify-content: center;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    height: fit-content;
    margin: 1rem;
}

.contentBackground {
    display: flex;
  
    flex-direction: column;
  
    align-items: center;
    gap: 6rem;
  
    width: fit-content;
    height: fit-content;
  
    margin: 0rem;
}

.titleContent {
    display: flex;
  
    flex-direction: column;
    gap: 1rem;
  
    align-items: center;
}

.infoPanel{
    background-color: #F7F0E6;
    max-width: 87.5rem;
    margin: auto;
    border-radius: 2rem 2rem 0rem 0rem;
    text-align: center;
}