* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color: #FCFCFC;
}

footer{
    gap: 0.5rem;

    margin: 0rem 0rem 5rem 0rem;

    display: flex;
}

.principalText {
    display: flex;
    flex-direction: column;

    align-items: center;

    margin: auto;
    gap: 1rem;

    width: fit-content;
    height: fit-content;
}

.imagePNG{
    width: 1.5rem;
    height: 1.5rem;
}