.title{
    font-family: Google Sans;
    font-weight: 700;
    color: #21201F;
    margin: 1rem;
}

.text{
    font-family: Google Sans;
    font-weight: 400;
    color: #21201F;
    margin: 1rem;
}

.textFooterTitle{
    font-family: Google Sans;
}